<div class="container">
  <section class="advantages">
    <h3 class="advantages-subtitle">Переваги</h3>
    <h2 class="advantages-title">Чому обрати нас?</h2>
    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>

    <ul class="advantages-list">
      <li class="advantages-item">
        <img
          srcset="
            /img/advantages/img-advan-1-1x.png 1x,
            /img/advantages/img-advan-1-2x.png 2x
          "
          src="/img/advantages/img-advan-1-1x.png"
          alt="image of natural materials"
          width="288"
          height="198"
          class="advantages-image"
        />
        <div class="advantages-card-overlay">
          <h3 class="advantages-heading">Стійкість та екологічність</h3>
          <p class="advantages-description">
            Виготовлені з органічної бавовни та переробленого пластику.
          </p>
        </div>
      </li>

      <li class="advantages-item">
        <img
          srcset="
            /img/advantages/img-advan-2-1x.png 1x,
            /img/advantages/img-advan-2-2x.png 2x
          "
          src="/img/advantages/img-advan-2-1x.png"
          alt="image of sewing process"
          width="288"
          height="198"
          class="advantages-image"
        />
        <div class="advantages-card-overlay">
          <h3 class="advantages-heading wider">Міцність і довговічність</h3>
          <p class="advantages-description">
            Наші сумки мають посилені шви для тривалого використання.
          </p>
        </div>
      </li>

      <li class="advantages-item">
        <img
          srcset="
            /img/advantages/img-advan-3-1x.png 1x,
            /img/advantages/img-advan-3-2x.png 2x
          "
          src="/img/advantages/img-advan-3-1x.png"
          alt="a row of eco-tote bags"
          width="288"
          height="198"
          class="advantages-image tab"
        />
        <div class="advantages-card-overlay tab">
          <h3 class="advantages-heading">Стильний та сучасний дизайн</h3>
          <p class="advantages-description">
            Мінімалістичні моделі в обмежених серіях для кожного стилю.
          </p>
        </div>
      </li>
    </ul>
  </section>
</div>
