<section-assortment class="section-assortment container">
    <h2 class="assortment-header">
        Наші сумки
    </h2>

    <ul class="assortment-list">
        <li class="assortment-item">
            <picture>
                <source media="(min-width: 1440px)"
                    srcset="/img/assortment/asortment-desc-1-min.jpg, /img/assortment/asortment-desc-1-min@2x-min.jpg 2x">

                <source media="(min-width: 768px)"
                    srcset="/img/assortment/asortment-tab-1-min.jpg, /img/assortment/asortment-tab-1-min@2x-min.jpg 2x">

                <source media="(max-width: 767px)"
                    srcset="/img/assortment/asortment-mob-1-min.jpg, /img/assortment/asortment-mob-1-min@2x-min.jpg 2x">

                <img class="assortment-item-picture" src="/img/assortment/asortment-tab-1-min.jpg"
                    alt="сумка для щоденного використання" width="288" height="345">
            </picture>

            <h3 class="assortment-header-item">EcoBag Classic</h3>
            <p class="assortment-paragraph-item">Елегантна та містка сумка для щоденного використання.</p>
            <p class="assortment-paragraph-price">$25</p>

            <button class="button-buy" type="button">Купити</button>
        </li>

        <li class="assortment-item">
            <picture>
                <source media="(min-width: 1440px)"
                    srcset="/img/assortment/asortment-desc-2-min.jpg, /img/assortment/asortment-desc-2-min@2x-min.jpg 2x">

                <source media="(min-width: 768px)"
                    srcset="/img/assortment/asortment-tab-2-min.jpg, /img/assortment/asortment-tab-2-min@2x-min.jpg 2x">

                <source media="(max-width: 767px)"
                    srcset="/img/assortment/asortment-mob-2-min.jpg, /img/assortment/asortment-mob-2-min@2x-min.jpg 2x">

                <img class="assortment-item-picture" src="/img/assortment/asortment-tab-2-min.jpg"
                    alt="сумка для щоденного використання" width="288" height="345">
            </picture>

            <h3 class="assortment-header-item">EcoBag Classic</h3>
            <p class="assortment-paragraph-item">Елегантна та містка сумка для щоденного використання.</p>
            <p class="assortment-paragraph-price">$25</p>

            <button class="button-buy" type="button">Купити</button>
        </li>
        <li class="assortment-item">
            <picture>
                <source media="(min-width: 1440px)"
                    srcset="/img/assortment/asortment-desc-3-min.jpg, /img/assortment/asortment-desc-3-min@2x-min.jpg 2x">

                <source media="(min-width: 768px)"
                    srcset="/img/assortment/asortment-tab-3-min.jpg, /img/assortment/asortment-tab-3-min@2x-min.jpg 2x">

                <source media="(max-width: 767px)"
                    srcset="/img/assortment/asortment-mob-3-min.jpg, /img/assortment/asortment-mob-3-min@2x-min.jpg 2x">

                <img class="assortment-item-picture" src="/img/assortment/asortment-tab-3-min.jpg"
                    alt="сумка для щоденного використання" width="288" height="345">
            </picture>

            <h3 class="assortment-header-item">EcoBag Classic</h3>
            <p class="assortment-paragraph-item">Елегантна та містка сумка для щоденного використання.</p>
            <p class="assortment-paragraph-price">$25</p>

            <button class="button-buy" type="button">Купити</button>
        </li>

        <li class="assortment-item">
            <picture>
                <source media="(min-width: 1440px)"
                    srcset="/img/assortment/asortment-desc-4-min.jpg, /img/assortment/asortment-desc-4-min@2x-min.jpg 2x">

                <source media="(min-width: 768px)"
                    srcset="/img/assortment/asortment-tab-4-min.jpg, /img/assortment/asortment-tab-4-min@2x-min.jpg 2x">

                <source media="(max-width: 767px)"
                    srcset="/img/assortment/asortment-mob-4-min.jpg, /img/assortment/asortment-mob-4-min@2x-min.jpg 2x">

                <img class="assortment-item-picture" src="/img/assortment/asortment-tab-4-min.jpg"
                    alt="сумка для щоденного використання" width="288" height="345">
            </picture>

            <h3 class="assortment-header-item">EcoBag Classic</h3>
            <p class="assortment-paragraph-item">Елегантна та містка сумка для щоденного використання.</p>
            <p class="assortment-paragraph-price">$25</p>

            <button class="button-buy" type="button">Купити</button>
        </li>

        <li class="assortment-item">
            <picture>
                <source media="(min-width: 1440px)"
                    srcset="/img/assortment/asortment-desc-5-min.jpg, /img/assortment/asortment-desc-5-min@2x-min.jpg 2x">

                <source media="(min-width: 768px)"
                    srcset="/img/assortment/asortment-tab-5-min.jpg, /img/assortment/asortment-tab-5-min@2x-min.jpg 2x">

                <source media="(max-width: 767px)"
                    srcset="/img/assortment/asortment-mob-5-min.jpg, /img/assortment/asortment-mob-5-min@2x-min.jpg 2x">

                <img class="assortment-item-picture" src="/img/assortment/asortment-tab-5-min.jpg"
                    alt="сумка для щоденного використання" width="288" height="345">
            </picture>

            <h3 class="assortment-header-item">EcoBag Classic</h3>
            <p class="assortment-paragraph-item">Елегантна та містка сумка для щоденного використання.</p>
            <p class="assortment-paragraph-price">$25</p>

            <button class="button-buy" type="button">Купити</button>
        </li>

        <li class="assortment-item">
            <picture>
                <source media="(min-width: 1440px)"
                    srcset="/img/assortment/asortment-desc-6-min.jpg, /img/assortment/asortment-desc-6-min@2x-min.jpg 2x">

                <source media="(min-width: 768px)"
                    srcset="/img/assortment/asortment-tab-6-min.jpg, /img/assortment/asortment-tab-6-min@2x-min.jpg 2x">

                <source media="(max-width: 767px)"
                    srcset="/img/assortment/asortment-mob-6-min.jpg, /img/assortment/asortment-mob-6-min@2x-min.jpg 2x">

                <img class="assortment-item-picture" src="/img/assortment/asortment-tab-6-min.jpg"
                    alt="сумка для щоденного використання" width="288" height="345">
            </picture>

            <h3 class="assortment-header-item">EcoBag Classic</h3>
            <p class="assortment-paragraph-item">Елегантна та містка сумка для щоденного використання.</p>
            <p class="assortment-paragraph-price">$25</p>

            <button class="button-buy" type="button">Купити</button>
        </li>
        <li class="assortment-item">
            <picture>
                <source media="(min-width: 1440px)"
                    srcset="/img/assortment/asortment-desc-7-min.jpg, /img/assortment/asortment-desc-7-min@2x-min.jpg 2x">

                <source media="(min-width: 768px)"
                    srcset="/img/assortment/asortment-tab-7-min.jpg, /img/assortment/asortment-tab-7-min@2x-min.jpg 2x">

                <source media="(max-width: 767px)"
                    srcset="/img/assortment/asortment-mob-7-min.jpg, /img/assortment/asortment-mob-7-min@2x-min.jpg 2x">

                <img class="assortment-item-picture" src="/img/assortment/asortment-tab-7-min.jpg"
                    alt="сумка для щоденного використання" width="288" height="345">
            </picture>

            <h3 class="assortment-header-item">EcoBag Classic</h3>
            <p class="assortment-paragraph-item">Елегантна та містка сумка для щоденного використання.</p>
            <p class="assortment-paragraph-price">$25</p>

            <button class="button-buy" type="button">Купити</button>
        </li>

        <li class="assortment-item">
            <picture>
                <source media="(min-width: 1440px)"
                    srcset="/img/assortment/asortment-desc-8-min.jpg, /img/assortment/asortment-desc-8-min@2x-min.jpg 2x">

                <source media="(min-width: 768px)"
                    srcset="/img/assortment/asortment-tab-8-min.jpg, /img/assortment/asortment-tab-8-min@2x-min.jpg 2x">

                <source media="(max-width: 767px)"
                    srcset="/img/assortment/asortment-mob-8-min.jpg, /img/assortment/asortment-mob-8-min@2x-min.jpg 2x">

                <img class="assortment-item-picture" src="/img/assortment/asortment-tab-8-min.jpg"
                    alt="сумка для щоденного використання" width="288" height="345">
            </picture>

            <h3 class="assortment-header-item">EcoBag Classic</h3>
            <p class="assortment-paragraph-item">Елегантна та містка сумка для щоденного використання.</p>
            <p class="assortment-paragraph-price">$25</p>

            <button class="button-buy" type="button">Купити</button>
        </li>

    </ul>

</section-assortment>