<section class="feedbacks">
  <h2 class="feedbacks-title">Що говорять наші<br />клієнти</h2>

  <ul class="fb-list">
    <li class="review">
      <ul class="stars-qut">
        <li class="stars">
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
        </li>
      </ul>
      <div class="fbb-text">
        <h3 class="fb-text">
          Сумка дуже зручна та стильна, використовую щодня!
        </h3>
      </div>
      <p class="signature">Анна</p>
    </li>

    <li class="review">
      <ul class="stars-qut">
        <li class="stars">
          <svg class="star" width="24" height="24">
            <use href="/img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="/img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="/img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="/img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="/img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
        </li>
      </ul>
      <div class="fbb-text">
        <h3 class="fb-text">Відмінна якість матеріалів, приємно здивована.</h3>
      </div>
      <p class="signature">Ігор</p>
    </li>

    <li class="review">
      <ul class="stars-qut">
        <li class="stars">
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
        </li>
      </ul>
      <div class="fbb-text">
        <h3 class="fb-text">Сумка повністю відповідає опису, рекомендую!</h3>
      </div>
      <p class="signature">Олена</p>
    </li>

    <li class="review">
      <ul class="stars-qut four">
        <li class="stars">
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#fat-star"></use>
          </svg>
          <svg class="star" width="24" height="24">
            <use href="./img/svg-icon/symbol-defs.svg#empty-star"></use>
          </svg>
        </li>
      </ul>
      <div class="fbb-text">
        <h3 class="fb-text">Швидка доставка та гарне обслуговування.</h3>
      </div>
      <p class="signature">Сергій</p>
    </li>
  </ul>
</section>
