<footer class="container">
  <div class="footer-con">
    <div class="footer-logo-wrapper">
      <a href="/index.html" aria-label="На головну сторінку">
        <svg class="footer-logo" width="281" height="121">
          <use href="/img/svg-icon/symbol-defs.svg#icon-ecotote"></use>
        </svg>
      </a>
    </div>
    <div class="footer-logo-wrapper">
      <a href="/index.html" aria-label="На головну сторінку">
        <svg class="footer-logo-tablet" width="164" height="70">
          <use href="/img/svg-icon/symbol-defs.svg#icon-ecotote"></use>
        </svg>
      </a>
    </div>
    <ul class="tit-list">
      <li><a class="tel-list" href="#about">Про нас</a></li>
      <li><a class="tel-list" href="#advantage">Переваги</a></li>
      <li><a class="tel-list" href="#assortment">Асортимент</a></li>
      <li><a class="tel-list" href="#gallery">Галерея</a></li>
      <li><a class="tel-list" href="#feedbacks">Відгуки</a></li>
      <li><a class="tel-list" href="#support">Контакти</a></li>
    </ul>
    <ul class="foot-icons">
      <li>
        <a class="footer-social-link" href="#" target="_blank">
          <svg class="footer-logo-item" width="32" height="32">
            <use href="/img/svg-icon/symbol-defs.svg#icon-Instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-social-link" href="#" target="_blank">
          <svg class="footer-logo-item" width="32" height="32">
            <use href="/img/svg-icon/symbol-defs.svg#icon-LinkedIn"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-social-link" href="#" target="_blank">
          <svg class="footer-icon-item" width="32" height="32">
            <use href="/img/svg-icon/symbol-defs.svg#icon-Youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <ul class="foot-icons-desktop">
      <li>
        <a class="footer-social-link" href="#" target="_blank">
          <svg class="footer-logo-item" width="24" height="24">
            <use href="/img/svg-icon/symbol-defs.svg#icon-Instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-social-link" href="#" target="_blank">
          <svg class="footer-logo-item" width="24" height="24">
            <use href="/img/svg-icon/symbol-defs.svg#icon-LinkedIn"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-social-link" href="#" target="_blank">
          <svg class="footer-icon-item" width="24" height="24">
            <use href="/img/svg-icon/symbol-defs.svg#icon-Youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <ul class="foot-icons-tablet">
      <li>
        <a class="footer-social-link" href="#" target="_blank">
          <svg class="footer-logo-item" width="40" height="40">
            <use href="/img/svg-icon/symbol-defs.svg#icon-Instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-social-link" href="#" target="_blank">
          <svg class="footer-logo-item" width="40" height="40">
            <use href="/img/svg-icon/symbol-defs.svg#icon-LinkedIn"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-social-link" href="#" target="_blank">
          <svg class="footer-icon-item" width="40" height="40">
            <use href="/img/svg-icon/symbol-defs.svg#icon-Youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="contacts">
      <address>
        <ul class="info-ul">
          <li><a href="" class="info">+380999091122</a></li>
          <li><a href="" class="info">hello@ecotote.com</a></li>
        </ul>
      </address>
      <p class="prava">© 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>