<section class="gallery container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-text"><span lang="en">EcoTotes</span> у повсякденному житті</p>
    <ul class="gallery-list">
        <li class="gallery-item">
            <picture>
                <img class="gallery-img" 
                src="/img/gallery/bag1x.jpg" 
                srcset="/img/gallery/bag1x.jpg 1x, /img/gallery/bag2x.jpg 2x"
                alt="Еко-сумка на стулі в кав'ярні">
            </picture>
        </li>
        <li class="gallery-item">
            <picture>  
                <!-- MOBILE -->
                <img class="gallery-img" 
                src="/img/gallery/man1xmob.jpg"
                srcset="/img/gallery/man1xmob.jpg 1x, /img/gallery/man2xmob.jpg 2x"
                alt="Чоловік з еко-сумкою в місті">
                <!-- TABLET/DESKTOP -->
                <source media="(min-width: 768px)" 
                srcset="/img/gallery/man1x.jpg 1x, /img/gallery/man2x.jpg 2x">
            </picture>
        </li>
        <li class="gallery-item">
            <picture>  
                <!-- MOBILE -->
                <img class="gallery-img" 
                src="/img/gallery/spacer1xmob.jpg"
                srcset="/img/gallery/spacer1xmob.jpg 1x, /img/gallery/spacer2xmob.jpg 2x"
                alt="Жінка з еко-сумкою гуляе парком">
                <!-- TABLET/DESKTOP -->
                <source media="(min-width: 768px)" 
                srcset="/img/gallery/spacer1x.jpg 1x, /img/gallery/spacer2x.jpg 2x">
            </picture>
        </li>
        <li class="gallery-item">
            <picture>
                <img class="gallery-img" 
                src="/img/gallery/woman1x.jpg"
                srcset="/img/gallery/woman1x.jpg 1x, /img/gallery/woman2x.jpg 2x"
                alt="Жінка з повною еко-сумкою овощив на базарі">
            </picture>
        </li>
    </ul>
</section>
