<header class="header">

  <!-- Навігація -->
         <nav class="container header-navigation">
            <svg class="header-logo" width="84" height="36"> 
             <use href="/img/svg-icon/symbol-defs.svg#icon-ecotote" ></use>
            </svg>
            

              

          <button class="header-burger-button btn" aria-label="menu">
            <svg class="icon-burger" width="22" height="16">
              <use href="../img/svg-icon/symbol-defs.svg#icon-menu" ></use>
            </svg>
          </button>

  
</header>
