<header class="header">
  <div class="container header-container">
    
    <div class="header-logo-wrapper">
      <svg class="header-logo" width="84" height="36"> 
        <use href="/img/svg-icon/symbol-defs.svg#icon-ecotote"></use>
      </svg>
    </div>

    <nav class="header-nav-wrapper">
      <button class="header-burger-button btn" aria-label="menu">
        <svg class="icon-burger" width="22" height="16">
          <use href="/img/svg-icon/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>

      <ul class="header-menu-list">
        <li><a class="header-menu-links current" href="./index.html">Про нас</a></li>
        <li><a class="header-menu-links" href="">Переваги</a></li>
        <li><a class="header-menu-links" href="">Асортимент</a></li>
        <li><a class="header-menu-links" href="">Галерея</a></li>
        <li><a class="header-menu-links" href="">Відгуки</a></li>
        <li><a class="header-menu-links" href="">Контакти</a></li>
      </ul>
    </nav>

    <div class="header-contacts-wrapper">
      <address class="header-address">
        <ul class="header-address-navigation">
          <li><a class="header-address-links" 
            href="tel:+38 (099) 909 11 22">+38 (099) 909 11 22</a></li>
          <li><a class="header-address-links" href="hello@ecotote.com">hello@ecotote.com</a></li>
          
        </ul>
      </address>
    </div>

  </div>
</header>