<section class="hero">
  <div class="container">
    <div class="hero-text">
      <h2 id="hero" class="hero-title">
        EcoTote — Стиль, що не шкодить планеті<span class="mobile-extra">.</span>
      </h2>
      <div class="hero-desc-img">
        <p class="hero-desc">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a href="#assortment">
          <button class="hero-btn" type="button">Купити зараз</button>
        </a>
      </div>
    </div>

    <div class="hero-img">
      <picture class="hero-img">
        <source
          srcset="
            /img/hero/hero-img-desctop-1px.jpg 1x,
            /img/hero/hero-img-desctop-2px.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/hero/hero-img-tab-1px.jpg 1x,
            /img/hero/hero-img-tab-2px.jpg 2x
          "
          media="(min-width: 768px) and (max-width: 1439px)"
        />
        <source
          srcset="
            /img/hero/hero-img-mob-1px.jpg 1x,
            /img/hero/hero-img-mob-2px.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="hero-img"
          src="/img/hero/hero-img-desctop-1px.jpg"
          alt="two shopper bags, the first beige and the second khaki"
        />
      </picture>
    </div>
  </div>
</section>
