/* Базові стилі для всіх розмірів екрану */
.header {
  background-color: #75D281;
}

.container.header-container {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-contacts-wrapper {
  display: none; /* Приховуємо .header-contacts-wrapper на мобільних і планшетних версіях */
}

.header-menu-list {
  display: none;
}

.header-address-navigation {
  display: none;
 
}

.header-nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  fill: #030a06;
}

.header-burger-button {
  display: block;
  background: none;
  border: none;
  padding: 8px 8px;
  margin: 0;
  width: 48px;
  height: 48px;
}

.icon-burger {
  width: 100%;
  height: 100%;
}




/* Планшет */
@media screen and (min-width: 768px) {
  .header-burger-button {
    padding: 12px 12px;
  }

  .container.header-container {
  padding-right: 16px;
}
}

/* Десктоп */
@media screen and (min-width: 1440px) {
  .header-burger-button {
    display: none;
  }
 .header {
  .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
 }
  

  .header-nav-wrapper {
    
  }

  .header-contacts-wrapper {
    display: block; /* Показуємо .header-contacts-wrapper на десктопі */
  }

  .header-address {
    margin-left: auto; /* Відновлюємо margin для десктопу */
  }

  .header-address-navigation {
    
    gap: 40px;
    align-items: center;
    padding: 0;
    display: flex; /* Показуємо навігацію контактів */
  }


  .header-menu-list {
    display: flex;
    margin-bottom: 0;
    gap: 40px;
  }
  .header-logo {
  width: 106px;
  height: 45px;
}
  .container.header-container {
  height: 72px;
  padding-right: 64px;
}
.header-menu-links {
  font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: #030a06;
}
.header-address-links {
  font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: #030a06;
}
.header-address-navigation a:active,
  .header-menu-list a:active {
    color: #3AC04C;
  }
   

  
.header-menu-list a {
    color: #2e2f42;
    border-bottom: 1px solid transparent; /* За замовчуванням прозорий бордер */
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }

  .header-menu-list a:hover,
  .header-menu-list a:focus {
    border-bottom: 1px solid  #030a06; /* Показуємо пунктирну лінію під посиланням */
  }

  .header-menu-list a:active {
    color: #388E3C;
    border-bottom: 1px solid  #3AC04C;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); /* Зберігаємо лінію при натисканні (опціонально) */
  }

  .header-menu-list a.current {
    color: #4CAF50;
    border-bottom: 1px solid #3AC04C; 
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);/* Постійна лінія для активного посилання */
  }

  .header-address-navigation {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-address-links {
    color: #2e2f42;
    border-bottom: 1px solid transparent; /* За замовчуванням прозорий бордер */
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }

  .header-address-links:hover,
  .header-address-links:focus {
    
    border-bottom: 1px solid #030a06; /* Показуємо пунктирну лінію під посиланням */
  }

  .header-address-links:active {
    color: #388E3C;
    border-bottom: 1px solid #3AC04C; 
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);/* Зберігаємо лінію при натисканні (опціонально) */
  }
  
  
}